__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesize
instance/*.db
instance/config.py
uploads/
results/
logs/
tmp/
tests/
unittest/
test.py
run_tests.py
docker-compose.yml
docker-compose.cpu.yml
Dockerfile
Dockerfile.cpu
README.md
task.md
walkthrough.md
